/*css Document */


/* ------------------------------------------ */


/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*    01. Index Page    */


/*   02. Sub Header  */


/*   03. Header Mega-menu */


/*   04. New york city real estate */


/*   05. Advanced Options  */

/*   04. Explore-nyc Section  */

.body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #1A1F2C;
  color: #8C8C8C;
  color: #525151;
  padding: 0rem;
  margin: 0rem;
 
  }




/*top-sub-header css start*/

.top-sub-header {
  background-color: #035f65;
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.model-p p{
  font-size: .8rem;
    font-weight: 600;
}

.text-header-right li a {
  padding: 0rem .6rem;
  font-size: .8rem;
  font-weight: 600;
}

.header-text li a:hover {
  color: #3FE8DF;
}

.modal-header h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #1a1f2c;
  font-weight: 300;
  font-size: 1.6rem;
}


/*top-sub-header css End*/


/*********************************header Mega-Menu Section Start Css*/

/*************navigation dropdown css----start----------*/
/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;

  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: .3rem 0rem;

  }
  /* makes the dropdown full width  */
 
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {  
    display: block!important;
  }
.navbar{ background-color: #fff !important; width:100%;}
 
}

.navbar li a{
    color: #1A1F2C;
    font-size: 0.90rem;
    font-weight: bold;
    line-height: 19px;
   
}

.navbar li a:hover{
    color: #0195E5;
    text-decoration: none

    
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 3rem;
   padding-left: 0rem;

}

 .dropdown-item{
    width: 100%;
    height: auto;
    padding: 11px 20px 12px 15px;
    font-size: 1rem !important;
    background-color: #fff !important;
    font-weight:400 !important;
    color: #212529;
   box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.05);
 }

   .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fff;} 

.navbar-nav .dropdown-menu a{color:#212529;text-decoration: none;}
.navbar-nav .dropdown-menu a:hover{color:#0195E5; border-bottom: 1px solid #3FE8DF;}
  

 



.item_search{
  border-radius:50rem;
  border: 1px solid #E6E6E6;
  outline:none;
  font-size: .9rem;
  color:#8C8C8C;
font-weight: 400;
padding: .3rem;
line-height: normal;
width:250px;}

.item_search::placeholder{
    color:#8C8C8C;
  }
.banner_search button{
  right: -.5rem;
  top: .1rem;
  border: none;
  background: none;
  outline:none;
}
.banner_search .fa-search{
  color: #1A1F2C;
 cursor: pointer;
 padding-top: .2rem;

}


 
 






/*********************************One-Block-Over-section Start Css*/

.main-heading-blog h2 {
  color: #1A1F2C;;
  font-size: 0.90rem;
  padding: 1rem 0rem;
  font-weight: 300;
}

.One-Block h6 {
  color: #8C8C8C;
     font-size: .8rem;
    font-weight: 500;
  }

.One-Block .list-group li a {
  color: #1A1F2C;
  font-weight: 600;
  font-size: .8rem;
  text-decoration: none;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 0rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}
/*********************************One-Block-Over-section End Css*/


/*********************************StreetEasy-footer-section Start Css*/

/***********StreetEasy-footer-main Start Css*/
.StreetEasy-footer-section {
  background-color: #272D39;
}

.StreetEasy-footer-section h5 a{
  font-size: .7rem;
  font-weight: 700;
  color:#fff;
  text-decoration: none;
  }

.StreetEasy-footer-section ul li a{
  color:#fff;
  font-size: .6rem;
  text-decoration: none;
}

.StreetEasy-footer-section .list-inline-item {
  color: #fff;
}

.footer-s{

  border-top:.01rem solid #808080;
  width: 100%;
}

/***********StreetEasy-footer-main End Css*/


/***********StreetEasy-small-footer Start Css*/
.footer-small .btn-floating {
  padding: .3rem .5rem;
  font-size: .9rem;
  }
.footer-small .btn-floating i{
  color: #272d39;}

.footer-small .footer-link a{
  font-weight: 700;
  font-size: .7rem;
} 

.footer-Copyright h5{
  font-size: .6rem;
}
.footer-Copyright a{
  font-size: .6rem;
}

/***********StreetEasy-small-footer Start Css*/

/*********************************StreetEasy-footer-section Start Css*/






/*-------------anil css start-------------*/


/*---------------@media 320px to 480px  desktops, strat-------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .text-header-right {
    display: none;
  }
  .logo-header-left {
    text-align: center;

  }
  .panayama-footer {
    text-align: center;
  }
  .footer-small h5 {
    text-align: center;
  }
  /*--Home_page_banner-section End*/
 
}



/*--------------anil css  start---------*/





/*----------------------blog page css start-----------------*/
/*-------blog page header----------- */
.blog-logo-title{
     opacity: 0.4;
    color: #FFFFFF;
    font-size: 0.90rem;}

.blog-navigation-back .fa{color:#0195E5;font-weight:700;}
.streeteasy-home{font-size:0.80rem; line-height:2rem; }
/*-------blog page header  end----------- */

/*-------blog page trend and data section css start----------- */
#blog-color{background-color: #f5f5f5;}

.blog-featured {
    background-color: #3FE8DF;
    font-size: 0.80rem;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    height: 25px;
    width: 76px;
    left: -8px;
    top: 0;
    color: #000;
    position: absolute;}

.blog-featured:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 25px;
    left: 0;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #032765;}
    


 .blog-card-title {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.80rem;
    line-height: 3rem;}
 .blog-card-title:hover {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.80rem;
    }

.blog-card-link{font-size: 28px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 28px;
    color:#0195E5;}
.author-img {
    height: 1.50rem;
    width: 1.50rem;
    margin-right: 8px;
    border-radius: 12.5px;
    }
.author-blog a{
  color: #1A1F2C;
    }

    /*-------blog page trend and data section css end----------- */
    /*-------blog page second image css start----------- */
    .blog-card-link-title{color:#0195E5;font-size: 1.20rem;}

    .blog-card-link-title:hover{color:#0195E5;}

      .latest-img{width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0195E5;
    display: block;
  padding-top: 64.10256%;}


      /*.latest-img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 64.10256%;
}*/

      /*-------blog page second image css end----------- */


  


   /*--------latest blog section css start--------- */  
.latest-blog{background-color:#f5f5f5; }
.blog-card-latest{font-size: 0.80rem;color:#0195E5;}
.blog-card-latest:hover{font-size: 0.80rem;color:#0195E5;}
.blog-guide{background-color: #3FE8DF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1A1F2C;
    border-radius: 5px;
    height: 19px;
    padding: 2px 4px;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;}

.blog-heading h2{color:#1A1F2C;font-weight:100;margin-bottom: 1rem;}

   /*--------latest blog section css end----------- */    




/*----------------------blog page css end-----------------*/

/*-----------anil css end---------------*/


.blog-newsletter {
    
    background-color: #fff;
    height: auto;
   padding:13px 0px 0px 15px;
    position: relative;
    min-height: 404px;
   
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
} 
.blog-newsletter p{font-size: 0.80rem;font-weight: 500;   line-height: 15px; margin-bottom: 8px; color: #8C8C8C;}
.blog-newsletter h3{font-size: 1.80rem;font-weight: 300; line-height: 33px;margin-bottom: 20px; max-width: 240px;color: #8C8C8C;}
.blog-newsletter img{
    margin-bottom: 25px;
    height: 144px;
    width: 122px;}

.blog-newsletter input{
    padding: 15px 10px 10px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.12px;
    line-height: 18px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #CDCDCD;
    margin-right: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

}


.blog-newsletter .blog-button{
    background-color: #0195E5;
    color: #fff;
    padding: 5px 20px;
    display: block;
    text-align: center;
    height: 45px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

 


.blog-discussion {


    display: -ms-flexbox;
     background-color: #fff;
    height: auto;
   padding:20px 0px 0px 15px;
    position: relative;
    min-height: 404px;
    
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.blog-discussion p{font-size: 0.80rem;font-weight: 500; font-weight: bold;  line-height: 15px; margin-bottom: 8px; color: #8C8C8C;}

.blog-discussion__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid #E6E6E6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.blog-discussion a{font-size: 1rem;color:#0195E5;padding:5px 0px 0px 5px;}
.blog-discussion span{font-size: 0.90rem;color:#8C8C8C;line-height: 18px;}

.special-card{ height: 230px;
    width: 100%;}


 .blog-color-section  {background-color: #032765;
 height: 225px;  }

    .latest-body-label{
     background-color: #3FE8DF; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1A1F2C;
    border-radius: 5px;
    height: 19px;
    padding: 2px 4px;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-top: 4rem;
}

.latest-body h6{font-size: 0.70rem; }
.latest-body h4{font-size: 1.50rem;padding-top: 20px;  }

}
#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore a {
    background: #00bdc5;

    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: #059fa6;

}
.load-none{display: none;}
    