﻿

.checkboxrange {
    height: 33px;
    border: 1px solid #E6E6E6;
    display: flex
}

@media screen and (max-width: 659px) {
    .checkboxrange {
        height: 50px
    }
}

.checkboxrange-input {
    display: none
}

.checkboxrange-input:checked+label:before {
    height: 28px;
    left: 4px;
    right: 4px
}

@media screen and (max-width: 659px) {
    .checkboxrange-input:checked+label:before {
        height: 34px
    }
}

.checkboxrange-input.isLeft+label:before {
    right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.checkboxrange-input.isRight+label:before {
    left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.checkboxrange-input.isCenter+label:before {
    border-radius: 0;
    left: -1px;
    right: -1px;
    height: 28px
}

@media screen and (max-width: 659px) {
    .checkboxrange-input.isCenter+label:before {
        height: 34px
    }
}

.checkboxrange-label {
    line-height: 30px;
    padding: 0 14px;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media screen and (max-width: 659px) {
    .checkboxrange-label {
        line-height: 48px
    }
}

.checkboxrange-label:before {
    content: '';
    height: 0;
    border-radius: 16px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateY(-50%);
    background-color: #b5f2f5;
    z-index: 0
}

.checkboxrange-copy {
    position: relative;
    z-index: 1
}

.checkboxrange--fixedWidth {
    flex-grow: 0;
    flex-shrink: 1
}
