/*css Document */


/* ------------------------------------------ */


/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*    01. Index Page    */


/*   02. Sub Header  */


/*   03. Header Mega-menu */


/*   04. New york city real estate */


/*   05. Advanced Options  */

/*   04. Explore-nyc Section  */

p {
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}

a {
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

ul {
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #1A1F2C;
	color: #8C8C8C;
	color: #525151;
	padding: 0rem;
	margin: 0rem;
}

.main-heading h2 {
	color: #525151;
	font-size: 1.7rem;
	padding: 1rem 0rem;
	font-weight: 400;
}

}


@media only screen and (min-width: 320px) and (max-width: 480px) {
.StreetEasy-footer-section{
	text-align: center;
}


}


/*top-sub-header css start*/

.top-sub-header {
	background-color: #035f65;
	padding: .7rem 0rem;
}

.model-p p{
	font-size: .8rem;
		font-weight: 600;
}

.text-header-right li a {
	padding: 0rem .6rem;
	font-size: .8rem;
	font-weight: 600;
}

.header-text li a:hover {
	color: #3FE8DF;
}

.modal-header h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #1a1f2c;
	font-weight: 300;
	font-size: 1.6rem;
}

.md-form .form-control {
	border-radius: 0rem;
}

.md-form .md-form-text {
	color: #8c8c8c;
	font-size: .7rem;
	font-weight: 600;
}

.modal-title {
	color: #1a1f2c;
	font-weight: 300;
	font-size: 0rem;
}



.sign-btn {
	background-color: #00bdc5;
	border-radius: 0px;
	font-weight: 600;
	padding: .50rem 0rem;
}

.sign-btn:hover {
	background-color: #00bdc5;
}

.modal-title-p h6 {
	font-weight: 400;
	font-size: .50rem;
	color: #8C8C8C;
}

.modal-title-p span {
	font-weight: 400;
	font-size: 1rem;
	color: #0195e5;
}

.modal-header {
	border-bottom: none;
}

.modal-content {
	border-radius: 0rem;
	border: none;
	margin: 150px 0px 0px 0px;
}

.modal .fade .show {
	margin-top: 5rem;
}

/*top-sub-header css End*/


.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 0rem;
}



/*********************************header Mega-Menu Section Start Css*/

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}

.navbar .dropdown-menu {
	border:none;
	background-color: #fff!important;
}


/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	/* remove the padding from the navbar so the dropdown hover state is not broken */
	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	.navbar .nav-item {
		padding: .6rem 2rem 0rem 0rem;
		margin: 0rem 0rem;
	}

	/* makes the dropdown full width  */
	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;

		/*  height of nav-item  */
			
	}
	/* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu,
	.navbar .dropdown .dropdown-menu:hover {
		display: block!important;
	}
	.navbar .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}
}













.nav-link {
	color: #000;
}

.nav-item li a {
	padding: 0rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #1A1F2C;
	font-size: 1rem;
	font-weight: 400;
	line-height: 19px;
	padding-bottom: 14px;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #0080c6;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #8c8c8c;
	font-size: .70rem;
	font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active {
border-bottom:none;
}



.topnav  a:hover {
  border-bottom: .1rem solid #0080C6;;
}

.topnav  a.active {
  border-bottom: .1rem solid #0080C6;;
}




.menu-img-text h4 {
	color: #0080c6;
	font-size: 1rem;
}

.menu-img-text p {
	color: #1a1f2c;
	font-weight: 600;
}

.menu-img-text p strong {
	color: #8C8C8C;
	font-size: .80rem;
	font-weight: 600;
}

.menu-img-text p span {
	color: #0080c6;
	font-size: .90rem;
}

.banner_search{
padding-left:22rem;
}

.item_search{
	border-radius:50rem;
	border: 1px solid #E6E6E6;
	outline:none;
	font-size: .9rem;
	color:#8C8C8C;
font-weight: 400;
padding: .3rem;}

.item_search::placeholder{
		color:#8C8C8C;
	}
.banner_search button{
	right: -.5rem;
	top: .1rem;
	border: none;
	background: none;
	outline:none;
}
.banner_search .fa-search{
		color: #1A1F2C;
 cursor: pointer;
 padding-top: .2rem;

}











.Featured {
	font-size: .80rem;
	padding: .20rem 1rem;
	text-transform: uppercase;
}

.navbar-toggler .t-mobile {
	bottom: 8px;
	height: 34px;
	left: 8px;
	opacity: 1;
	padding: 10px;
	position: absolute;
	text-indent: -9999px;
	top: 9px;
	transition: opacity .3s ease .15s;
	width: 41px;
}

.btn{
	padding-left: 0rem;
}
.btn-link {
	color: #0080C6;
	font-size: .8rem;
}

.btn-link:hover {
	color: #0080C6;
	font-size: .8rem;
}

.form-control {
	color: #1A1F2C;
	font-weight: 500;
	font-size: .8rem;
}

.form-control option {
	color: #1A1F2C;
	font-weight: 500;
}

.form-group .form-control {
	border-radius: 0rem;
	border: 1px solid #E6E6E6;
	;
}

.form-group label {
	text-transform: uppercase;
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 500;
}

.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-container iframe {
	left: 0;
	top: 0;
	position: absolute;
}

.map-container {
	margin-top: 2rem;
}

.form-check-label li {
	color: #1a1f2c;
}

.form-check-input {
	margin-top: .4rem;
	margin-left: 0rem;
}

.list-b {
	display: inline-block;
	margin: 0px 0px;
}

.form-check {
	padding: 0rem 0rem;
}

.form-heading {
	text-transform: uppercase;
	color: #1a1f2c;
	font-size: .8rem;
	font-weight: 700;
}

.form-text {
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 400;
}

.list-check .form-check-label {
	color: #1a1f2c;
	font-weight: 500;
	font-size: .rem;
	text-transform: capitalize;
	cursor: pointer;
}

.price .form-check-label {
	text-transform: capitalize;
	color: #1a1f2c;
}

.add-text .form-text1 {
	color: #0080C6;
	font-size: .8rem;
}

.nearby-lines .form-check-inline {
	padding-right: 8rem;
}

.btn-button {
	background-color: #00bdc5;
	padding: .50rem 8rem;
	font-weight: 600;
	font-size: .8rem;
}




/*********************************StreetEasy-footer-section Start Css*/

/***********StreetEasy-footer-main Start Css*/
.StreetEasy-footer-section {
	background-color: #272D39;
}

.StreetEasy-footer-section h5 a{
	font-size: .7rem;
	font-weight: 700;
	color:#fff;
	text-decoration: none;
	}

.StreetEasy-footer-section ul li a{
	color:#fff;
	font-size: .7rem;
	text-decoration: none;
}

.StreetEasy-footer-section .list-inline-item {
	color: #fff;
}

.footer-s{

	border-top:.01rem solid #808080;
	width: 100%;
}

/***********StreetEasy-footer-main End Css*/


/***********StreetEasy-small-footer Start Css*/
.footer-small .btn-floating {
	padding: .3rem .5rem;
	font-size: .9rem;
	}
.footer-small .btn-floating i{
	color: #272d39;}

.footer-small .footer-link a{
	font-weight: 700;
	font-size: .7rem;
}	

.footer-Copyright h5{
	font-size: .6rem;
}
.footer-Copyright a{
	font-size: .6rem;
}

/***********StreetEasy-small-footer Start Css*/

/*********************************StreetEasy-footer-section Start Css*/

.Featured-img-text {
    position: absolute;
    bottom: 7.3rem;
    right: 0;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

.Featured-img-textt {
    position: absolute;
    bottom:11.7rem;
    right: 0;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

/***********StreetEasy-small-footer Start Css*/

/*********************************StreetEasy-footer-section Start Css*/






/*-------------anil css start-------------*/








/*--------------anil css  start---------*/



/*  responsive home page and inner-search page css  start*/
@media (min-width: 300px) and (max-width: 979px){
 .text-header-right li a{display:none;}

  .text-header-right li a{display:none;}

.footer-main{text-align: center;}


.logo-header-left{text-align:center;}
  

.top-sub-header {
    background-color: #035f65;  
    text-align: center;
    width:100%;}
.navbar-toggler-icon{ position:fixed; padding: 14px 0px 0px 0px; }
.overlay a {
 text-decoration: none;
  font-size:1rem;
  color: #1A1F2C;
  text-align: left;
 font-weight: 600;

  display: block;
  transition: 0.6s; 
  border-bottom: 1px solid #000;
  
}
.banner-button{display:none;}



/* .overlay-content .item_search {width: 70%;  border-radius: 50px; border: 1px solid #E6E6E6; outline:none;padding-left: 15px;font-size:1rem;font-weight: 300; } */
/* .overlay-content .banner_search button{ position: absolute;right: 50px;top: 7px;border: none;background: none;outline:none;} */
/* .overlay-content .banner_search .fa-search{  color: #000; border-radius: 0 50px 50px 0; font-size: 20px;cursor: pointer;padding-right: 15px;} */

.downtown-sales th{color: #8C8C8C;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 2.9;padding:0px 0px 6px;width: 50%;}

.downtown-heading{display: none;}
.refine{display: none;}
  .price-sale .brookly-price{font-size: 0.80rem;border-bottom:1px dashed;}
   .brookly-responsive-list-item{margin-top: 0.50rem;}


} 
/*  responsive home page and inner-search page css end */

/*-----inner-search page-----downtown sales section css start----------*/
.downtown-sales{ 
    background-color: #F5F5F5;
    left: 0;
  right: 0;}
.downtown-sales h2{color: #1A1F2C;
    font-size: 1.75rem;
    font-weight: 200;
   
    line-height: 1.45;
      }
.downtown-sales th{color: #8C8C8C;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 2.9;}
 
   .downtown-sales a{ 
 
    color: #1A1F2C;
    display: inline-block;
    font-size: 1rem;
    
   }

/*----------downtown sales section css end----------*/

/* -----------------downtown-headingntown Brooklyn heading css start---------------------*/
.downtown-heading span{font-size:1.75rem; 
    line-height: 2rem;
    padding-bottom: 0px;
    display: inline;}
.downtown-heading h1{font-size: 2rem;font-weight: 300;color:#000;}
/* -----------------downtown-headingntown Brooklyn heading css end---------------------*/

/*Downtown Brooklyn sales card items section css start  */
.brookly-seles-section li a{color:#4ca6d7;font-weight: 500; line-height:35px;  }
.brookly-seles-section li h3{color:#4ca6d7;line-height: 2rem;font-weight: 600; font-size:1.15rem; }
.brookly-seles-section li h3 span{color:#000;line-height: 0.50rem;font-weight: 400; font-size:0.80rem; }
.border-right {padding-right: 10px;}
  .brookly-border-top{border-top: 1px solid #1A1F2C; padding-top:1rem;}
  .brookly-left-side .sale_text{font-size:0.80rem; }
  .brookly-left-side .line-0{font-size:0.80rem; }
.border-sales{ border-top: 1px solid #E6E6E6;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
}







.banner-button .button1{
  background-color:  #F5F5F5;  border: 1px solid #CDCDCD; font-weight: bold;}
.banner-button .button2{
  background-color:  #fff;border: 1px solid #CDCDCD;}
.banner-button .btn{
    border-radius: 0px 0px 0px 0px;
    font-size: 1rem;}
/*--21/11/2019--------start---*/
/*-------------23/11/2019-- css start----inner-page------*/
.brookly-left-side .brookly-border-top{border-top: 1px solid #1A1F2C;width:100%;}
.brookly-left-side .brookly-border-bottom{border-bottom: 1px solid #1A1F2C;width:100%;}
.search-featured{background-color: #1A1F2C;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 0px -17px 13px;
    max-width: 150px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
} 
.brookly-seles-section  .btn-outline-warning{border: 1px solid #FDC435;
    background-color: #FFF;
    color: #1A1F2C;
    font-size: 0.80rem;
    height:2rem; 
    border-radius: 0px 0px 0px 0px;}

   .save-search{font-size: 0.80rem;}
  .refine-search {border: 1px solid #0080C6;background-color: #FFF;
    color: #0080C6;border-radius: 0 0 0 0;font-size: 0.80rem;height: 2rem;}
  .refine-search:hover {color: #032765;
    border-color: #032765;
    background-color: #FFF;border-radius: 0 0 0 0;font-size: 0.80rem;height: 2rem;outline:none;}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

.brookly-responsive .brookly-price{    border-bottom: 1px dashed #0080C6;
    padding: 0 0 0 8px;}

    .brookly-responsive .planner a{
    color:#212529;padding-left: 5px; font-weight:600;}

    .brookly-responsive .planner{
    border:1px solid #FDC435;}

 .brookly-responsive .planner :hover{
    border-color: #FDC435;
    background-color: #FDC435;}

 .brookly-responsive .btn.btn-outline-warning:hover{background-color:#FDC435;}
.refine .btn-outline-warning:hover{background-color: #FDC435;}


.brookly-pagination a, .brookly-pagination .current {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 0.80rem;
    text-decoration: none;
}
.brookly-pagination .fa {font-weight: 900;}
/*-------------23/11/2019-----css end-------*/
/*--21/11/2019--------end---*/
/* Downtown Brooklyn sales card items section css end */

/*-----inner-search page-----downtown sales section css end----------*/
  
/*-------responsive sidebar menu css start---------*/
  .overlay {
  height: 100%;
  width: 0 ;
  position: fixed;
  z-index: 1;
  top: 52px;
  left: 0;
  background-color: #fff;

  overflow-x: hidden;
  transition: 0.5s;
 

}

.overlay-content {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.80rem;
    line-height: 2.75;
    
    width: 100%;

}


}

.overlay a {
 text-decoration: none;
  font-size:1rem;
  color: #1A1F2C;
  text-align: center;

  display: block;
  transition: 0.6s; 
  border-bottom: 1px solid #1A1F2C;
  
}


.overlay .closebtn {
 position: relative;
  
 top:-10px;
  float:left;
   font-size: 40px;
 border-bottom:none;
 
}






/* .banner_search{width:70%; height:30px;position: relative;padding-left:20rem;} */
/* .item_search {width: 70%;  border-radius: 50px;   border: 1px solid #E6E6E6; outline:none;padding-left: 15px;font-size:1rem;font-weight: 300;} */
/* .banner_search button{ position: absolute;right: -7px;top: 0px;border: none;background: none;outline:none;} */
/* .banner_search .fa-search{  color: #000; border-radius: 0 50px 50px 0; font-size: 20px;cursor: pointer;padding-right: 15px;} */


/* Icon 1 */

.animated-icon1 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #fff;
}



.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}
  
/*-------responsive sidebar menu css end---------*/





/*----------------------blog page css start-----------------*/
/*-------blog page header----------- */
.blog-logo-title{
     opacity: 0.4;
    color: #FFFFFF;
    font-size: 0.90rem;}

.blog-navigation-back .fa{color:#0195E5;font-weight:700;}
.streeteasy-home{font-size:0.80rem; line-height:2rem; }
/*-------blog page header  end----------- */

/*-------blog page trend and data section css start----------- */
.blog-color{background-color: #f5f5f5;}

.blog-featured {
    background-color: #3FE8DF;
    font-size: 0.80rem;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    height: 25px;
    width: 76px;
    left: -8px;
    top: 0;
    color: #000;
    position: absolute;}

.blog-featured:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 25px;
    left: 0;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #032765;}
    


 .blog-card-title {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.80rem;
    line-height: 3rem;}
 .blog-card-title:hover {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.80rem;
    }

.blog-card-link{font-size: 28px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 28px;
    color:#0195E5;}
.author-img {
    height: 1.50rem;
    width: 1.50rem;
    margin-right: 8px;
    border-radius: 12.5px;
    }
.author-blog a{
  color: #1A1F2C;
    }

    /*-------blog page trend and data section css end----------- */
    /*-------blog page second image css start----------- */
    .blog-card-link-title{color:#0195E5;font-size: 1.20rem;}

    .blog-card-link-title:hover{color:#0195E5;}

      .latest-img{width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0195E5;
    display: block;
  padding-top: 64.10256%;}


      /*.latest-img:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 64.10256%;
}*/

      /*-------blog page second image css end----------- */


  


   /*--------latest blog section css start--------- */  
.latest-blog{background-color:#f5f5f5; }
.blog-card-latest{font-size: 0.80rem;color:#0195E5;}
.blog-card-latest:hover{font-size: 0.80rem;color:#0195E5;}
.blog-guide{background-color: #3FE8DF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1A1F2C;
    border-radius: 5px;
    height: 19px;
    padding: 2px 4px;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;}


.modal-header-refine{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: #035f65;
    font-size: 0.80rem;
   
}
   .modal-refine{
    border-radius: 1rem;
    border: none;
    margin: 90px 0px 0px -100px;
    width: 700px;
    height: auto;}


    .modal-header-refine .close {
    font-size: 35px; outline: 0;

    padding: 0.80rem  1rem;}

    .btn-button-refine{background-color: #035f65;
       width:100px;height:40px;padding:0px 5px 0px 5px ;}
     .btn-button-refine h3{text-align:center;}
     .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}
   /*--------latest blog section css end----------- */    




/*----------------------blog page css end-----------------*/

/*-----------anil css end---------------*/
/*----------------mapbox css start---------*/
.menu-ui-btn {
background:#fff;
position:absolute;
top:10px;right:10px;
z-index:1;
border-radius:3px;
width:120px;
border:1px solid rgba(0,0,0,0.4);
}
.menu-ui-btn a {
font-size:13px;
color:#404040;
display:block;
margin:0;padding:0;
padding:10px;
text-decoration:none;
border-bottom:1px solid rgba(0,0,0,0.25);
text-align:center;
}
.menu-ui-btn a:first-child {
border-radius:3px 3px 0 0;
}
.menu-ui-btn a:last-child {
border:none;
border-radius:0 0 3px 3px;
}
.menu-ui-btn a:hover {
background:#f8f8f8;
color:#404040;
}
.menu-ui-btn a.active,
.menu-ui-btn a.active:hover {
background:#3887BE;
color:#FFF;
}


/* Content
================= */

#marker-list {
        position:absolute;
        top:0; right:0;
        width:200px;
        bottom:0;
        overflow-x:auto;
        background:#fff;
        margin:0;
        padding:5px;
        height: 400px;
        z-index: 50;
        background-color: white;
}
#marker-list li {
        padding:5px;
        margin:0;
        list-style-type:none;
}
#marker-list li:hover {
        background:#eee;
}


.sidebar {
position:absolute;
width:25%;
height:100%;
top:0;left:0;
overflow:hidden;
border-right:1px solid rgba(0,0,0,0.25);
}
.pad2 {
padding:20px;
}
.quiet {
color:#888;
}
.map {
position:absolute;
height:50%;
width:100%;

bottom:50;
}

.clearfix { display:block; }
.clearfix:after {
content:'.';
display:block;
height:0;
clear:both;
visibility:hidden;
}

/* Marker tweaks
====================*/
.leaflet-popup-close-button {
display:none;
}
.leaflet-popup-content {
font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
padding:0;
width: auto;
}
.leaflet-popup-content-wrapper {
padding:0;
}
.leaflet-popup-content h3 {
background:#BA222B;
color:#fff;
margin:0;
display:block;
border-radius:3px 3px 0 0;
font-weight:700;
margin-top:-15px;
}
.leaflet-popup-content div {
padding:10px;
}
.leaflet-container .leaflet-marker-icon {
  cursor:pointer;
}
.leaflet-left .leaflet-control{
    display: none;
  }
/**********************************************************
Media Querys (480px, 768px, 990px, 1200px, 1500px, 2000px)
***********************************************************/

/* Smaller than
================= */

  @media (max-width: 2000px) {

  }


  @media (max-width: 1740px) {

  }


  @media (max-width: 1500px) {

  }

  @media (max-width: 1200px) {

  }


  @media (max-width: 990px) {

  }


  @media (max-width: 768px) {

  }

  @media only screen and (max-width: 568px) {
        .sidebar {
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        overflow: hidden;
        border-right: 1px solid rgba(0,0,0,0.25);
        top: inherit;
        }
        .map {
        position: absolute;
        bottom: 60%;
        width: 100%;
        top: 0;
        left: 0;
        }
        .heading {
        background: #fff;
        border-bottom: 1px solid #eee;
        height: 60px;
        padding: 3px 10px;
        }
        .leaflet-container .leaflet-control-attribution {
          display: none;
        }
        .listings {
        height: 233px;
        }
      }     

  @media (max-width: 480px) {

  }

/* Larger than
================= */


  @media (min-width: 2001px) {

  }


  @media (min-width: 1501px) {

  }


  @media (min-width: 1201px) {

  }


  @media (min-width: 991px) {

  }


  @media (min-width: 769px) {

  }

  @media (min-width: 481px) {

  }

/***************************************
Default Style Sheet created as part of - The Maui Toolbox
For more information visit: www.mauitoolbox.com
pub-20150501
***************************************/

#coordinates {
        height:450px;
        overflow:auto;
        padding-bottom:60px;
}
#coordinates .item {
        display:block;
        border-bottom:1px solid #eee;
        padding:10px;
        text-decoration:none;
}
#coordinates .item:last-child { border-bottom:none; }
#coordinates .item .title {
        display:block;
        color:#BA222B;
        font-weight:700;
}
#coordinates .item .title small { font-weight:400; }
#coordinates .item.active .title,
#coordinates .item .title:hover { color:#bbb; }
#coordinates .item.active {
        background-color:#f8f8f8;
}

/*----------------mapbox css end--------*/
/*-------select checkbox refine search-----*/
.combo-label {margin-bottom:.5em;}


/*-------select checkbox refine search--end---*/
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.filter .btn{padding:6px 3px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}



/* custom styles */

.btn-default{
  background: #0074d9; /* Old browsers */
background: -moz-linear-gradient(top,  #0074d9 1%, #0074d9 18%, #0049bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0074d9), color-stop(18%,#0074d9), color-stop(100%,#0049bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074d9', endColorstr='#0049bf',GradientType=0 ); /* IE6-9 */

color: #f9f9f9;
}

.btn-default:hover{
  color: #f9f9f9;
}


.open>.dropdown-toggle.btn-default {
color: #f9f9f9;
background-color: #0074d9;
border-color: #0049bf;
}

.icon1 {
    padding: 6px;
    border: 1px solid #E6E6E6;
    border-right: 0;
    color: #00bdc5;
    min-width: 28px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}










