/*css Document */


/* ------------------------------------------ */


/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*    01. Index Page    */


/*   02. Sub Header  */


/*   03. Header Mega-menu */


/*   04. New york city real estate */


/*   05. Advanced Options  */

/*   04. Explore-nyc Section  */

.body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #1A1F2C;
  color: #8C8C8C;
  color: #525151;
  padding: 0rem;
  margin: 0rem;
 
  }

/*top-sub-header css start*/

.top-sub-header {
  background-color: #035f65;
  padding-bottom: 0rem;
  padding-top: 1rem;
}
/*top-sub-header css End*/


/*-------blog page top header right css start----------- */
.blog-logo-title{
     opacity: 0.4;
    color: #FFFFFF;
    font-size: 0.90rem;}

.blog-navigation-back .fa{color:#0195E5;font-weight:700;}
.streeteasy-home{font-size:0.80rem; line-height:2rem; }
/*-------blog page top header right css end----------- */



/*************navigation dropdown css----start----------*/

@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;

  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: .3rem 0rem;

  }
 
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {  
    display: block!important;
  }
.navbar{ background-color: #fff !important; width:100%;}
 
}

.navbar li a{
    color: #1A1F2C;
    font-size: 0.90rem;
    font-weight: bold;
    line-height: 19px;
   
}

.navbar li a:hover{
    color: #0195E5;
    text-decoration: none

    
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 3rem;
   padding-left: 0rem;

}

 .dropdown-item{
    width: 100%;
    height: auto;
    padding: 11px 20px 12px 15px;
    font-size: 1rem !important;
    background-color: #fff !important;
    font-weight:400 !important;
    color: #212529;
   box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.05);
 }

   .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fff;} 

.navbar-nav .dropdown-menu a{color:#212529;text-decoration: none;}
/*.navbar-nav .dropdown-menu a:hover{color:#0195E5; }*/
  

 
.item_search{
  border-radius:50rem;
  border: 1px solid #E6E6E6;
  outline:none;
  font-size: .9rem;
  color:#8C8C8C;
font-weight: 400;
padding: .3rem;
line-height: normal;
width:250px;}

.item_search::placeholder{
    color:#8C8C8C;
  }
.banner_search button{
  right: -.5rem;
  top: .1rem;
  border: none;
  background: none;
  outline:none;
}
.banner_search .fa-search{
  color: #1A1F2C;
 cursor: pointer;
 padding-top: .2rem;

}


/*---------------@media 320px to 480px  desktops, strat-------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .text-header-right {
    display: none;
  }
  .logo-header-left {
    text-align: center;

  }
}

.latest-blog-title a{
    color: #1A1F2C;
    position: relative; font-size: 0.80rem}

  .latest-blog-main h1{font-size: 2.20rem;
    line-height:3rem; font-weight: 300; word-spacing:0.50px;padding:0px 8rem 0px 8rem;
}
    
.date p{font-size: 0.80rem; line-height: 18px;color: #62646A;}
.date a{font-size: 0.90rem; line-height: 18px;color: #1A1F2C;}
.latest-image img{height:2.50rem; width: 2.50rem; border-radius: 50%;}
.img-text{padding-left: 11rem;}
.latest-author-big-blog a{
  color: #1A1F2C;
    }
 
 .img-text-item{padding:0px 10rem 0px 10rem;}
.social-media ul {padding-right: 13rem; padding-top:1rem; word-spacing: 0.70rem;cursor: pointer;;}
 .latest-blog-color-text{color: #0195E5;
    text-decoration: none;
    background-color: transparent;
}

.latest-paragraph p{
   font-size: 16px;
    line-height: 30px;
    color: #1A1F2C;
}
.latest-paragraph h2{
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    color: #1A1F2C;
    

}
.latest-paragraph a{

    color:#0195E5;
}
 /*-----------------the recommanded for you section  css start---------*/

 .latest-blog-card-title {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.70rem;
    line-height: 3rem;}
 .latest-blog-card-title:hover {
    color: #8C8C8C;
    font-weight: 800;
    font-size: 0.70rem;
    }

.latest-blog-card-link{font-size: 28px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 28px;
    color:#0195E5;}
.latest-author-img {
    height: 1.50rem;
    width: 1.50rem;
    margin-right: 8px;
    border-radius: 12.5px;
    }
.latest-author-blog a{
  color: #1A1F2C;
    }
 /*-----------------the recommanded for you section  css end----------*/

     .latest-continue{font-size:0.90rem;
    line-height: 18px;
    color: #8C8C8C;}
   
.social_section h3{    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: normal;
    color: #1A1F2C;
    white-space: nowrap;
    margin-bottom: 17px;}


 .social-btn .fa{font-size: 1.50rem;}
 .last p{ 
    font-size: 0.80rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height:0.80rem;
    letter-spacing: normal;
    text-align: center;
    color: #1A1F2C;}
    
    .last a{
   color: #0195E5;}
.latest-comment h2{font-size: 1.80rem;
    font-weight: 200;
    line-height: normal;
    margin-bottom: 15px;
    color: #1A1F2C;
   padding-left: 1rem;
}
.hidden-menu a{  
    font-size: 12px; 
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #0195E5;
    margin-right: 15px;}

.hidden-menu .latest-bta{
    background-color: #0195E5;
    color: #fff;
    padding: 0 20px;
    
    text-align: center;
    height: 45px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}
 
.hidden-menu input{ border: 1px solid #CDCDCD;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 20px;
    margin-bottom: 15px;
    height: 52px;
    font-weight: 300;
    border-radius: 0;margin-left:0.80rem; }

.hidden-menu label{ font-size: 0.80rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #62646A;
    padding-top: 0.90rem;padding-left: 5px;   }

    .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle-right.btn-xl {
    width: 70px;
    height: 70px;
    margin-left: 6rem;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    display: block;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    overflow: hidden;
    transition: all 300ms;
    position: absolute;
    
    
}
.btn-circle-left.btn-xl {
    width: 70px;
    height: 70px;
    margin-left: -8rem;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    display: block;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    overflow: hidden;
    transition: all 300ms;
    position: absolute;    
}

.slider-wrap {
  height:100vh;
}
.slider{
  width:400px;
  margin:20px auto;
  text-align: center;
 
  color:white;
  .parent-slide{padding:15px;}
  img{display: block;margin:auto;}
}
.slick-dots {
  left:0;
}

.recommended-heading h2{ font-size:2.05rem;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 30px;
}
/*-----------slider css-----start------*/
.slider, 
.slider > div {
  
    background-position: center center;
    display: block;
    width: 100%;
    height: 500px;
  
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}

.slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider > .left {
    left: 0;
}
.slider > .right {
    right: 0;
}

.slider > i {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
  border-radius:50%;
}

.slider > i.right {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider > div {
    transform: scale(1.01);
}

.hoverZoomOff > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    z-index: 4;
    padding-top: 10rem;
    margin: 0;
    transform: translateX(-50%);
}

.slider > ul > li {
    padding: 0;
    width: 48px;
    height: 5px;
    border-radius: 0%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #E6E6E6;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #E6E6E6;       
}

.slider > ul > .showli {
    display: inline-block;
    width: 48px;
    height: 5px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 0%; 
    background-color: #3FE8DF;
     
}

.slider > ul > li:hover {
    background-color: #3FE8DF;
}

.slider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}

.slider.titleBar,
.slider .titleBar * {
    transform: translate(0);
    opacity: 1;
}

.titleBarTop .titleBar {
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
}

.slider > div span {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}


@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}



#slider2 {
    max-width: 30%;
    margin-right: 20px;
}

.row2Wrap {
    display: flex;
}

.content {
    padding: 50px;
    margin-bottom: 100px;
}



.content {
    padding: 10px 15vw;
}*/
/***********slider css end*********/
/*-------------3 slider css start**************/

.latest-card  .quantity a{color: #8c8c8c; font-size: 1.1rem;}

.latest-card .card-body a h5 {
    font-size: .9rem;
    color: #0080c6;
}

.latest-card .card-body h4 {
    font-size: .80rem;
    color: #8c8c8c;
    font-weight: 900;
}


.latest-card .card-body h3 {
    color: #1A1F2C;
    font-size: 1.1rem;
}


.carousel-control-prev-icon {
        display: block;
    width: 39%;
    height: 52%;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    overflow: hidden;
    text-indent: -99999em;
    transition: all 300ms;
    position: absolute;
    background-color:transparent;
    left: -90px;

}
.carousel-control-next-icon {
        display: block;
    width: 39%;
    height: 52%;
    
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    overflow: hidden;
    text-indent: -99999em;
    transition: all 300ms;
    position: absolute;
    background-color:transparent;
    left: 180px;
}

/*-------------3 slider css end**************/

