p {
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}

a {
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
li {
	list-style: none;
}
ul {
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #1A1F2C;
	color: #8C8C8C;
	color: #525151;
	padding: 0rem;
	margin: 0rem;
}

.main-heading h2 {
	color: #525151;
	font-size: 1.7rem;
	padding: 1rem 0rem;
	font-weight: 400;
}

}


@media only screen and (min-width: 320px) and (max-width: 480px) {
.StreetEasy-footer-section{
	text-align: center;
}


}


/*top-sub-header css start*/

.top-sub-header {
	background-color: #035f65;
	padding: .7rem 0rem;
}

.model-p p{
	font-size: .8rem;
		font-weight: 600;
}

.text-header-right li a {
	padding: 0rem .6rem;
	font-size: .8rem;
	font-weight: 600;
}

.header-text li a:hover {
	color: #3FE8DF;
}

.modal-header h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #1a1f2c;
	font-weight: 300;
	font-size: 1.6rem;
}

.md-form .form-control {
	border-radius: 0rem;
}

.md-form .md-form-text {
	color: #8c8c8c;
	font-size: .7rem;
	font-weight: 600;
}

.modal-title {
	color: #1a1f2c;
	font-weight: 300;
	font-size: 0rem;
}



.sign-btn {
	background-color: #00bdc5;
	border-radius: 0px;
	font-weight: 600;
	padding: .50rem 0rem;
}

.sign-btn:hover {
	background-color: #00bdc5;
}

.modal-title-p h6 {
	font-weight: 400;
	font-size: .50rem;
	color: #8C8C8C;
}

.modal-title-p span {
	font-weight: 400;
	font-size: 1rem;
	color: #0195e5;
}

.modal-header {
	border-bottom: none;
}

.modal-content {
	border-radius: 0rem;
	border: none;
	margin: 150px 0px 0px 0px;
}

.modal .fade .show {
	margin-top: 5rem;
}

/*top-sub-header css End*/


.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 0rem;
}



/*********************************header Mega-Menu Section Start Css*/

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}

.navbar .dropdown-menu {
	border:none;
	background-color: #fff!important;
}


/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	/* remove the padding from the navbar so the dropdown hover state is not broken */
	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
	.navbar .nav-item {
		padding: .6rem 2rem 0rem 0rem;
		margin: 0rem 0rem;
	}

	/* makes the dropdown full width  */
	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;

		/*  height of nav-item  */
			
	}
	/* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu,
	.navbar .dropdown .dropdown-menu:hover {
		display: block!important;
	}
	.navbar .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}
}













.nav-link {
	color: #000;
}

.nav-item li a {
	padding: 0rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #1A1F2C;
	font-size: 1rem;
	font-weight: 400;
	line-height: 19px;
	padding-bottom: 14px;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #0080c6;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #8c8c8c;
	font-size: .70rem;
	font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active {
border-bottom:none;
}



.topnav  a:hover {
  border-bottom: .1rem solid #0080C6;;
}

.topnav  a.active {
  border-bottom: .1rem solid #0080C6;;
}




.menu-img-text h4 {
	color: #0080c6;
	font-size: 1rem;
}

.menu-img-text p {
	color: #1a1f2c;
	font-weight: 600;
}

.menu-img-text p strong {
	color: #8C8C8C;
	font-size: .80rem;
	font-weight: 600;
}

.menu-img-text p span {
	color: #0080c6;
	font-size: .90rem;
}

.banner_search{
padding-left:22rem;
}

.item_search{
	border-radius:50rem;
	border: 1px solid #E6E6E6;
	outline:none;
	font-size: .9rem;
	color:#8C8C8C;
font-weight: 400;
padding: .3rem;}

.item_search::placeholder{
		color:#8C8C8C;
	}
.banner_search button{
	right: -.5rem;
	top: .1rem;
	border: none;
	background: none;
	outline:none;
}
.banner_search .fa-search{
		color: #1A1F2C;
 cursor: pointer;
 padding-top: .2rem;

}











.Featured {
	font-size: .80rem;
	padding: .20rem 1rem;
	text-transform: uppercase;
}

.navbar-toggler .t-mobile {
	bottom: 8px;
	height: 34px;
	left: 8px;
	opacity: 1;
	padding: 10px;
	position: absolute;
	text-indent: -9999px;
	top: 9px;
	transition: opacity .3s ease .15s;
	width: 41px;
}

.btn{
	padding-left: 0rem;
}
.btn-link {
	color: #0080C6;
	font-size: .8rem;
}

.btn-link:hover {
	color: #0080C6;
	font-size: .8rem;
}

.form-control {
	color: #1A1F2C;
	font-weight: 500;
	font-size: .8rem;
}

.form-control option {
	color: #1A1F2C;
	font-weight: 500;
}

.form-group .form-control {
	border-radius: 0rem;
	border: 1px solid #E6E6E6;
	;
}

.form-group label {
	text-transform: uppercase;
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 500;
}

.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-container iframe {
	left: 0;
	top: 0;
	position: absolute;
}

.map-container {
	margin-top: 2rem;
}

.form-check-label li {
	color: #1a1f2c;
}

.form-check-input {
	margin-top: .4rem;
	margin-left: 0rem;
}

.list-b {
	display: inline-block;
	margin: 0px 0px;
}

.form-check {
	padding: 0rem 0rem;
}

.form-heading {
	text-transform: uppercase;
	color: #1a1f2c;
	font-size: .8rem;
	font-weight: 700;
}

.form-text {
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 400;
}

.list-check .form-check-label {
	color: #1a1f2c;
	font-weight: 500;
	font-size: .rem;
	text-transform: capitalize;
	cursor: pointer;
}

.price .form-check-label {
	text-transform: capitalize;
	color: #1a1f2c;
}

.add-text .form-text1 {
	color: #0080C6;
	font-size: .8rem;
}

.nearby-lines .form-check-inline {
	padding-right: 8rem;
}

.btn-button {
	background-color: #00bdc5;
	padding: .50rem 8rem;
	font-weight: 600;
	font-size: .8rem;
}

/*********************************header Mega-Menu Section End Css*/
/******************  News Slider Demo-2 *******************/
.Similar-Rentals h4{
	    font-size: .8rem;
    color: #8c8c8c
}
.Similar-Rentals h5{
    font-size: 1rem;
    color: #0080c6;
}

.Similar-Rentals h3{
    color: #1A1F2C;
    font-size: 1.5rem;
}
.Similar-Rentals .card-text a{
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
    border-right: 5px;
}

.Similar-Rentals .card-body:hover{
	background-color: #fff;
-webkit-box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
-moz-box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
}


.sldier-no-fee h4 {
    background-color: #e0e572;
    font-size: .7rem;
    padding: .3rem .8rem;
    color: #1A1F2C;
    border-radius: 100rem;
}


.table thead th {
	border-top: none;
    border-bottom: none;
        color: #525151;
    font-weight: 600;
    font-size: 1rem;
}





/*********************************New york city real estate section Start Css*/
.smalls h5 {
	font-size: .7rem;
	color: #8c8c8c;
	font-weight: 900;
	padding-top: 2rem;
}

.new-york h1 a {
	font-size: 2rem;
	color: #8c8c8c;
	font-weight: 200;
	text-decoration: none;
}

.new-york h1 a:hover {
	font-size: 2rem;
	color: #1A1F2C;
	font-weight: 200;
	border-bottom: 1px solid #0080C6;
}

.new-york h1 span {
	font-size: 2rem;
	color: #1A1F2C;
	font-weight: 200;
	border-bottom: 1px solid #0080C6;
}

.btn-button1 {
	background-color: #00bdc5;
	padding: .4rem 4rem;
	font-weight: 600;
	font-size: .8rem;
}
/*********************************New york city real estate section End Css*/

/*********************************Advanced Options Form Start Css*/
.list-check-2  .list-1 .form-check-label{
	background-color: #F00;
	border-radius: 100%;
	padding: .1rem .5rem;
	color:#fff;

}




/*********************************Advanced Options Form End Css*/


/*********************************Explore-nyc Section Start Css*/
.explore-item ul {
	list-style: none;
	}

.explore-item figure {
	float: left;
	margin: 20px 0px;
}

.Explore-nyc-section .explore-item h5 {
	font-size: .9rem;
	color: #0080c6;
}

.Explore-nyc-section .explore-item p {
	font-size: .85rem;
	color: #8c8c8c;
	line-height: .50rem;
	font-weight: 600;
}

.card-body1 {
	font-size: .8rem;
	color: #8c8c8c;
	font-weight: 600;
}

/*********************************Explore-nyc Section End Css*/



/*********************************featured-item-section Start Css*/
.featured-item-section {
	background-color: #F5F5F5;
	box-shadow: inset 0 57px 54px -50px rgba(0, 0, 0, 0.04);
	padding-bottom: 56px;
	padding-top: 24px;
	transition: box-shadow 200ms;
}

.featured-item-section .featured-left-side .card {
	border-radius: none;
}

.featured-item-section  .card-body a h5 {
	font-size: .9rem;
	color: #0080c6;
}

.featured-item-section .card-body h4 {
	font-size: .80rem;
	color: #8c8c8c;
	font-weight: 900;
}

.featured-item-section .card-text a {
	color: #525151;
	font-weight: 600;
	font-size: .9rem;
}

.featured-item-section .card:hover {
	background-color: -webkit-box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
	box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
}

.featured-item-section .card-body h3 {
	color: #1A1F2C;
	font-size: 1.1rem;
}

.featured-p {
	color: #525151;
	font-size: .9rem;
	font-weight: 600;
}


.mid-section li{
padding-left: 10px;

}

/*********************************featured-item-section End Css*/


/*********************************Trending-Apartments Start Css*/
.slider-b:hover{

-webkit-box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
-moz-box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
}
/*********************************Trending-Apartments End Css*/



/*********************************One-Block-Over-section Start Css*/
.main-heading h2 {
	color: #525151;
	font-size: 1.7rem;
	padding: 1rem 0rem;
	font-weight: 400;
}


.One-Block h6 {
	color: #8C8C8C;
	   font-size: .8rem;
    font-weight: 500;
	}

.One-Block .list-group li a {
	color: #1A1F2C;
	font-weight: 600;
	font-size: .8rem;
	text-decoration: none;
}

.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 0rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
}
/*********************************One-Block-Over-section End Css*/


/*********************************StreetEasy-footer-section Start Css*/

/***********StreetEasy-footer-main Start Css*/
.StreetEasy-footer-section {
	background-color: #272D39;
}

.StreetEasy-footer-section h5 a{
	font-size: .7rem;
	font-weight: 700;
	color:#fff;
	text-decoration: none;
	}

.StreetEasy-footer-section ul li a{
	color:#fff;
	font-size: .7rem;
	text-decoration: none;
}

.StreetEasy-footer-section .list-inline-item {
	color: #fff;
}

.footer-s{

	border-top:.01rem solid #808080;
	width: 100%;
}

/***********StreetEasy-footer-main End Css*/


/***********StreetEasy-small-footer Start Css*/
.footer-small .btn-floating {
	padding: .3rem .5rem;
	font-size: .9rem;
	}
.footer-small .btn-floating i{
	color: #272d39;}

.footer-small .footer-link a{
	font-weight: 700;
	font-size: .7rem;
}	

.footer-Copyright h5{
	font-size: .6rem;
}
.footer-Copyright a{
	font-size: .6rem;
}

/***********StreetEasy-small-footer Start Css*/

/*********************************StreetEasy-footer-section Start Css*/

.Featured-img-text {
    position: absolute;
    bottom: 7.3rem;
    right: 0;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

.Featured-img-textt {
    position: absolute;
    bottom:11.7rem;
    right: 0;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 33.3333%;
  /* width: 0%; */
  height: 0%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  /* left: 33.3333%; */
  width: 100%;
  border:0px;
  top: 103px;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 0%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

/* card popup */
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.blog-featured {
    /* background-image: url("https://img.icons8.com/windows/32/000000/star.png"); */
    font-size: 0.80rem;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    height: 25px;
    width: 76px;
    left: -8px;
    top: 0;
    color: #000;
    position: absolute;
}

.blue-price {
    background: #D4ECFA;
	border-radius: 15px;
	display: initial;
    font-weight: 500;
	margin: 0 0 0 5px;
    padding: 2px 9px;
	color:#000;
    position: relative;
    text-transform: uppercase;
    top: -2px;
}
.leaflet-popup-content{
	width:390px !important;
}
.leaflet-popup-content-wrapper{
	overflow-y: auto;
}
.margin-tap{
	margin-top:10px;
}
.border-class{
	padding-bottom:12px;
	border-bottom: 1px solid #E6E6E6;
}
.card-image{
	padding-right:10px;
	/* padding-top:10px; */
}
.card-head{
	color: #8C8C8C;
    font-size: 10px;
    font-weight: 800;
    line-height: 25px;
}
.card-title a{
	color: #8C8C8C;
	font-size: 10px;
    font-weight: 800;
    line-height: 25px;
}
.card-title a:hover{
	color: #8C8C8C;
	font-size: 10px;
    font-weight: 800;
    line-height: 25px;
}
.popup-price{
	font-size: 1rem;
	color:#000;
}


.popup-arrow {
    background-image: url("https://img.icons8.com/material-sharp/48/000000/down.png");
	 background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
	
}

.card h5{
	width:100%;
}

.fa{
	font-size: medium;
}
