/*css Document */


/* ------------------------------------------ */


/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*    01. Index Page    */


/*   02. Sub Header  */


/*   03. Header Mega-menu */


/*   04. New york city real estate */


/*   05. Advanced Options  */

/*   04. Explore-nyc Section  */

p {
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}

a {
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
li {
	list-style: none;
}
ul {
	padding: 0px;
	margin: 0px;
}

body{
	{font-family: 'Source Sans Pro', sans-serif !important;
	color: #1A1F2C;
	color: #8C8C8C;
	color: #525151;
	padding: 0rem;
	margin: 0rem;}

.main-heading h2 {
	color: #525151;
	font-size: 1.7rem;
	padding: 1rem 0rem;
	font-weight: 400;


}

}





@media only screen and (min-width: 320px) and (max-width: 480px) {
.StreetEasy-footer-section{
	text-align: center;
}


}

/**********************************************************StreetEasy_Home_Page css start*/

/*******************************top-sub-header css start*/

.top-sub-header {
	background-color: #035f65;
	padding: .7rem 0rem;
}

.model-p p{
	font-size: .8rem;
		font-weight: 600;
}

.text-header-right li a {
	padding: 0rem .6rem;
	font-size: .8rem;
	font-weight: 600;
}

.header-text li a:hover {
	color: #3FE8DF;
}

.modal-header h4 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #1a1f2c;
	font-weight: 300;
	font-size: 1.6rem;
}

.md-form .form-control {
	border-radius: 0rem;
}

.md-form .md-form-text {
	color: #8c8c8c;
	font-size: .7rem;
	font-weight: 600;
}

.modal-title {
	color: #1a1f2c;
	font-weight: 300;
	font-size: 0rem;
}



.sign-btn {
	background-color: #00bdc5;
	border-radius: 0px;
	font-weight: 600;
	padding: .50rem 0rem;
}

.sign-btn:hover {
	background-color: #00bdc5;
}

.modal-title-p h6 {
	font-weight: 400;
	font-size: .50rem;
	color: #8C8C8C;
}

.modal-title-p span {
	font-weight: 400;
	font-size: 1rem;
	color: #0195e5;
}

.modal-header {
	border-bottom: none;
}

.modal-content {
	border-radius: 0rem;
	border: none;
	margin: 150px 0px 0px 0px;
	padding:3rem;
}

.modal .fade .show {
	margin-top: 5rem;
}

/*****************************top-sub-header css End*/

/*********************************header Mega-Menu Section Start Css*/

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom: 1rem;
}

.navbar .dropdown-menu {
	border:none;
	background-color: #fff!important;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 0rem;
}


/* breakpoint and up - mega dropdown styles */

@media screen and (min-width: 992px) {
	
	.navbar {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.navbar .nav-item {
		padding: .6rem 2rem 0rem 0rem;
		margin: 0rem 0rem;
	}


	.navbar .dropdown {
		position: static;
	}
	.navbar .dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;

	
			
	}
	/* shows the dropdown menu on hover */
	.navbar .dropdown:hover .dropdown-menu,
	.navbar .dropdown .dropdown-menu:hover {
		display: block!important;
	}
	.navbar .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		background-color: #fff;
	}
}

.nav-link {
	color: #000;
}

.nav-item li a {
	padding: 0rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #1A1F2C;
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: .8rem;
	line-height: initial;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #0080c6;
}

.navbar-dark .navbar-nav .nav-link-a {
	    color: #525151;
	font-size: .9rem;
	font-weight: 500;
	line-height: 1rem;
}
.navbar-dark .navbar-nav .nav-link-a:hover {
	color: #0080c6;
}

.navbar-dark .navbar-nav .nav-item-a{
line-height: 1.50rem;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #8c8c8c;
	font-size: .70rem;
	font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active {
border-bottom:none;
}

/*******menu-hover-underline css Start**/
.topnav  a:hover {
  border-bottom: .1rem solid #0080C6;;
}
.topnav  a.active {
  border-bottom: .1rem solid #0080C6;;
}
/*******menu-hover-underline css End**/

.menu-img-text h4 {
	color: #0080c6;
	font-size: 1rem;
}
.menu-img-text h5 {
	    color: #8c8c8c;
	font-size: .9rem;
	font-weight: 700;
}


.menu-img-text p {
	color: #1a1f2c;
	font-weight: 600;
}

.menu-img-text p strong {
	color: #8C8C8C;
	font-size: .7rem;
	font-weight: 700;
}
.Featured-nav h6{
	padding: .3rem .6rem;
	font-size: .7rem;
	font-weight: 700;
}

.menu-right-item li{
	font-size: .8rem; 
	font-weight: 600;
	color: #525151;
}

/*******************mega_menu_search css Start*/
.mega_menu_search {
padding-left:22rem;
}

.item_search{
	border-radius:50rem;
	border: 1px solid #E6E6E6;
	outline:none;
	font-size: .9rem;
	color:#8C8C8C;
font-weight: 400;
padding: .3rem;}

.item_search::placeholder{
		color:#8C8C8C;
	}
.mega_menu_search  button{
	right: -.5rem;
	top: .1rem;
	border: none;
	background: none;
	outline:none;
}
.mega_menu_search  .fa-search{
		color: #1A1F2C;
 cursor: pointer;
 padding-top: .2rem;

}
/**********************mega_menu_search css End*/
.navbar-toggler .t-mobile {
	bottom: 8px;
	height: 34px;
	left: 8px;
	opacity: 1;
	padding: 10px;
	position: absolute;
	text-indent: -9999px;
	top: 9px;
	transition: opacity .3s ease .15s;
	width: 41px;
}
/*********************************header Mega-Menu Section  css End*/


/*********************************New york city real estate section CSS Start*/
.New-york-section{}
.smalls h5 {
	font-size: .7rem;
	color: #8c8c8c;
	font-weight: 900;
	padding-top: 2rem;
}

.new-york h1 a {
	font-size: 2rem;
	color: #8c8c8c;
	font-weight: 200;
	text-decoration: none;
}

.new-york h1 a:hover {
	font-size: 2rem;
	color: #1A1F2C;
	font-weight: 200;
	border-bottom: 1px solid #0080C6;
}

.new-york h1 span {
	font-size: 2rem;
	color: #1A1F2C;
	font-weight: 200;
	border-bottom: 1px solid #0080C6;
}

.btn-button1 {
	background-color: #00bdc5;
	padding: .4rem 0rem;
	width: 100%;
	font-weight: 600;
	font-size: .8rem;
}

/*abi css*/
.input-icons i { 
            position: absolute; 
        } 
          
        .input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
        .icon { 
            padding: 7px; 
            color: #00bdc5; 
            min-width: 28px; 
            text-align: center; 
        } 
		.icon1 { 
            padding: 6px; 
			border:1px solid #E6E6E6;
			border-right:0;
            color: #00bdc5; 
            min-width: 28px; 
            text-align: center;
			margin-bottom: 10px;
			font-size:20px;
        } 
          
        .input-field { 
            width: 100%; 
            padding: 10px; 
            text-align: center; 
        } 
.location ::-webkit-input-placeholder { 
    padding-left:25px;
}
:-ms-input-placeholder { 
   padding-left:25px;
}

.checkbox-none{
	display: none;
}
.form-check label {
    text-transform: uppercase;
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.checkbox-none:checked+label:before {
    height: 28px;
    left: 4px;
    right: 4px;
}


	
.checkbox-none.isLeft+label:before {
    right: -2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.checkbox-none.isRight+label:before {
    left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.checkbox-none.isCenter+label:before {
    border-radius: 0;
    left: -3px;
    right: -3px;
    height: 28px;
}

.check-label{
	
	line-height: 31px;
    padding: 0 14px;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    position: relative;
	user-select: none;
}
.check-label:before{
	content: '';
    height: 0;
    border-radius: 16px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateY(-50%);
    background-color: #b5f2f5;
    z-index: 0;
}
.checkborder{
	border:1px solid #E6E6E6;
	
	height:auto;
}

.check-copy{
	    position: relative;
}
.menu-item2{
	padding-bottom: 0rem;
}
/*********************************Advanced Options Form Css Start*/
.list-check-2  .list-1 .form-check-label{
	background-color: #F00;
	border-radius: 100%;
	padding: .1rem .5rem;
	color:#fff;
}

.btn{
	padding-left: 0rem;
}
.btn-link {
	color: #0080C6;
	font-size: .7rem;
	font-weight: 800;
}

.btn-link:hover {
	color: #0080C6;
	font-size: .7rem;
}

.form-control {
	color: #525151;
	font-weight: 500;
	font-size: .8rem;
}

.form-control option {
	color: #525151;
	font-weight: 500;
}

.form-group .form-control {
	border-radius: 0rem;
	border: 1px solid #E6E6E6;
	
}

.form-group label {
	text-transform: uppercase;
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 500;
}

.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-container iframe {
	left: 0;
	top: 0;
	position: absolute;
}

.map-container {
	margin-top: 2rem;
}

.form-check-label li {
	color: #1a1f2c;
}

.form-check-input {
	margin-top: .4rem;
	margin-left: 0rem;
}

.list-b {
	display: inline-block;
	margin: 0px 0px;
}

.form-check {
	padding: 0rem 0rem;
}

.form-heading {
	text-transform: uppercase;
	color: #525151;
	font-size: .8rem;
	font-weight: 700;
}

.form-text {
	color: #8C8C8C;
	font-size: .8rem;
	font-weight: 400;
}

.list-check .form-check-label {
	color: #525151;
	font-weight: 500;
	font-size: .rem;
	text-transform: capitalize;
	cursor: pointer;
}

.price .form-check-label {
	text-transform: capitalize;
	color: #1a1f2c;
}

.add-text .form-text1 {
	color: #0080C6;
	font-size: .8rem;
}

.nearby-lines .form-check-inline {
	padding-right: 8rem;
}

.nearby-transit{
    border-radius: 50%;
    color: #FFF;
    display: inline-block;
    font-size: .7rem;
    height: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 2px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 20px;
}

.nearby-transit-t{
   color: #FFF;
    display: inline-block;
    font-size: .7rem;
    height: 20px;
    border-radius:.2rem;
    font-weight: 500;
    line-height: 20px;
    margin: 0 2px 0 0;
    text-align: center;
    text-transform: uppercase;
    width:38px;
}
.nearby-red-a {
background: #F00;
}

.nearby-green-b {
  background: #008F29;
}

.nearby-pink-c {
 background: #C600C6;
}

.nearby-sky-d {
 background: #005A8F;
}

.nearby-yellow-e{
background: #FE8F00;
}

.nearby-greey-f{
background: #8F5A00;
}

.nearby-light-g{
 color: #000;
    border: 1px solid #BB6;
    background: #FEFE00;
}


.nearby-greenb-h{
background: #8FC600;
}

.nearby-black-i{
background: #6C6C6C;
}

.nearby-blue-j{
background: #010099;
}


.btn-button {
	background-color: #00bdc5;
	padding: .50rem 8rem;
	font-weight: 600;
	font-size: .8rem;
}
/*********************************Advanced Options Form Css End*/


/*********************************Explore-nyc Section Css Start*/
.explore-item ul {
	list-style: none;
	}

.explore-item figure {
	float: left;
	margin: 20px 0px;
}

.Explore-nyc-section .explore-item h5 {
	font-size: .9rem;
	color: #0080c6;
}

.Explore-nyc-section .explore-item p {
	font-size: .85rem;
	color: #8c8c8c;
	line-height: .50rem;
	font-weight: 600;
}

.card-body1 {
	font-size: .8rem;
	color: #8c8c8c;
	font-weight: 600;
}

/*********************************Explore-nyc Section Css End*/


/*********************************featured-item-section Css Start*/
.featured-item-section {
	background-color: #F5F5F5;
	box-shadow: inset 0 57px 54px -50px rgba(0, 0, 0, 0.04);
	padding-bottom: 56px;
	padding-top: 24px;
	transition: box-shadow 200ms;
}

.featured-item-section .featured-left-side .card {
	border-radius: none;
}

.featured-item-section  .card-body a h5 {
	font-size: .9rem;
	color: #0080c6;
}

.featured-item-section .card-body h4 {
	font-size: .80rem;
	color: #8c8c8c;
	font-weight: 900;
}

.featured-item-section .card-text a {
	color: #525151;
	font-weight: 600;
	font-size: .9rem;
}

.featured-item-section .card:hover {
	background-color: -webkit-box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
	box-shadow: 5px 6px 25px -20px rgba(0, 0, 0, 1);
}

.featured-item-section .card-body h3 {
	color: #1A1F2C;
	font-size: 1.1rem;
}

.featured-p {
	color: #525151;
	font-size: .9rem;
	font-weight: 600;
}


.mid-section li{
padding-left: 10px;

}

.Featured {
	font-size: .80rem;
	padding: .20rem 1rem;
	text-transform: uppercase;
}

.Featured-img-text {
    position: absolute;
    bottom: 7.3rem;
    right: 0;
    line-height: 25px;
    font-size: .7rem;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

.Featured-img-text2 {
    position: absolute;
    bottom: 11.7rem;
    right: 0;
    line-height: 25px;
    font-size:.7rem;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

.Featured-img-text-right {
    position: absolute;
    bottom: 8.8rem;
    right: 0;
    line-height: 25px;
    font-size: .7rem;
    font-weight: 700;
    color: #FFF;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #1A1F2C;
}

/*********************************featured-item-section Css End*/

/*********************************Trending-Apartments Css Start*/
.slider-b:hover{

-webkit-box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
-moz-box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
box-shadow: 7px 2px 10px -4px rgba(122,121,122,0.72);
}

.btn-sldier{
  background-color: #fff;
  padding: .9rem 1.40rem; 
-webkit-box-shadow: 0px 7px 5px -3px rgba(194,194,194,0.84);
-moz-box-shadow: 0px 7px 5px -3px rgba(194,194,194,0.84);
box-shadow: 0px 7px 5px -3px rgba(194,194,194,0.84);

}

.btn-sldier:hover{
  background-color: #fff;
  padding: .9rem 1.40rem;
-webkit-box-shadow: 1px 2px 10px -1px rgba(173,171,173,0.77);
-moz-box-shadow: 1px 2px 10px -1px rgba(173,171,173,0.77);
box-shadow: 1px 2px 10px -1px rgba(173,171,173,0.77); 
}
.btn-sldier i{
color: #525151;
font-size: 1.25rem;
font-weight: 900;
 }

.btn-sldier i:hover{
color: #525151;

 }

/*********************************Trending-Apartments Css End*/


/*********************************One-Block-Over-section Css Start*/
.main-heading h2 {
	color: #525151;
	font-size: 1.7rem;
	padding: 1rem 0rem;
	font-weight: 400;
}


.One-Block h6 {
	color: #8C8C8C;
	   font-size: .8rem;
    font-weight: 500;
	}

.One-Block .list-group li a {
	color: #525151;
	font-weight: 600;
	font-size: .8rem;
	text-decoration: none;
}

.list-group-item {
	position: relative;
	display: block;
	padding: .75rem 0rem;
	margin-bottom: -1px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, .125);
}
/*********************************One-Block-Over-section Css End*/


/*********************************StreetEasy-footer-section  Css Start*/

/***********StreetEasy-footer-main Css Start*/
.StreetEasy-footer-section {
	background-color: #272D39;
}

.StreetEasy-footer-section h5 a{
	font-size: .7rem;
	font-weight: 700;
	color:#fff;
	text-decoration: none;
	}

.StreetEasy-footer-section ul li a{
	color:#fff;
	font-size: .7rem;
	font-weight: 500;
	text-decoration: none;
}

.StreetEasy-footer-section .list-inline-item {
	color: #fff;
}

.footer-s{

	border-top:.01rem solid #808080;
	width: 100%;
}

.text-white {
    color: #fff!important;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
}



/***********StreetEasy-footer-main Css End*/


/***********StreetEasy-small-footer Css Start*/
.footer-small .btn-floating {
	padding: .3rem .5rem;
	font-size: .9rem;
	}
.footer-small .btn-floating i{
	color: #272d39;}

.footer-small .footer-link a{
	font-weight: 700;
	font-size: .7rem;
}	

.footer-Copyright li{
	font-size: .7rem;
	font-weight: 500;
}
.footer-Copyright a{
	font-size: .7rem;
}


/***********StreetEasy-small-footer Css Start*/

/*********************************StreetEasy-footer-section Css End*/

/*---------------@media 320px to 480px  desktops, strat-------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.text-header-right {
		display: none;
	}
	.logo-header-left {
		text-align: center;
	}
	.panayama-footer {
		text-align: center;
	}
	.footer-small h5 {
		text-align: center;
	}
	/*--Home_page_banner-section End*/

.Advanced-Options{
display: none;
}
.Trending-section{
	display: none;
}


}

/*---------------@media 768px to 1024px  tablets, strat-------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {}


/**********************************************************************StreetEasy_Home_Page css End*/

/**********************************StreetEasy_Building_Page css Start*/
.Building-section{}
.Buiding-main{}
/**************Building-Carousel Css Start*/


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 30.7rem;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100px;
    height: 44px;
    margin-right: 3px;
    margin-left: 3px;

  text-indent: 0px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.Building-detail h6{
    font-size: .7rem;
    font-weight: 900;
   color: #A1A1A1;
    }

.Building-detail{
line-height: 2rem;
}

.Building-list{
	margin-top: 6rem;
	margin-bottom: 0rem;
} 
/**************Building-Carousel Css End*/










/********************************Description-text Css Start*/

.Description-text p{
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}
 .Description-text h6{
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}
/**********************************Description-text Css End*/

/*****************************************Amenities-text Css Start*/
.Amenities-text:nth-child(odd) li{
 width: 49%;
}

.Amenities-text li{
	padding-right: 14rem;
}
.Amenities-text p{
	color: #1A1F2C;
    font-weight: 600;
    font-size: .9rem;
    align-items: center;
 }

.amenities-right .dotts{
	background: #0080C6;
	content: "";
	height: 8px;
    margin: .5rem .5rem 0 0;
    width: 8px;
}

.Amenities-text h6{ color: #8C8C8C;
    font-size: .7rem;
    font-weight: 900;
}

.building-text li{
	color: #525151;
    font-weight: 600;
    font-size: .9rem;
    align-items: center;
}
/*****************************************Amenities-text Css End*/


/*****************************************About-Building Css Start*/

.About-Building h2 {
    color: #525151;
    font-size: 1.7rem;
    padding: 1rem 0rem;
    font-weight: 400;
}
.About-Building p {
    color: #525151;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
}
.About-Building p span {
    color: #0080C6;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
}
.About-Building li{
	 color: #525151;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
}

.About-Building li span{
	 color: #0080C6;
}

.btn-outline{
border-color: #CDCDCD;
}
.btn-outline:hover{
border-color: #a7a7a7;
}


.btn-outline a{
	color:#0080C6;
font-size: .7rem;
padding: .7rem 1rem;
font-weight: 800;}

/*****************************************About-Building Css End*/

/**********************Right-side Css Start*/
.Right-side{}
.Building-text h2 {
	color: #525151;
	font-size: 1.7rem;
	font-weight: 400;
}
.Building-text h3 {
  color: #1A1F2C;
    font-size: 1.5rem;
  }
  .Building-text h3 span{
  color: #62646A;
    font-size: .7rem;
    padding-left:.4rem;
    font-weight: 800;
  }

  .no-fee h4{
  	background-color: #D4ECFA;
  	font-size: 1rem; 
  	padding:.4rem .2rem; 
  	  color: #1A1F2C;
  }
  	
.dital-line li{
color: #1A1F2C;
font-weight: 400;
font-size: .9rem;
text-decoration:none;
border-right: 1px solid #ddd;
padding: 0rem .5rem;
}
.dital-line h6{
	color:#525151;
    font-weight: 600;
    font-size: .9rem;
}
.dital-line h6 span{
	color:#0080C6;
	}

.Popovers-box{
	padding: .4rem 3rem;.
	}

.Popovers-box i{
	color:#0080C6;
	font-size: .8rem;
	}
.Popovers-box span{
	color:#0080C6;
	font-weight: 600;
	font-size: .8rem;
	text-transform: uppercase;
	    cursor: pointer;
	}

/*.Popovers-box span {
   color: #8C8C8C;}

.Popovers-box span:hover{
   color: #8C8C8C;
   
    font-size: 2rem;

    cursor: pointer;
}*/



	.Popovers-box span:hover{
	color:#004b74;
	font-weight: 600;
	}	

.contant-text p{
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
}
.contant-text p span{
    color: #1A1F2C;
   }

.modal .modal-content .model-text p{
color: #8C8C8C;
font-size: .7rem;
font-weight:800;
}




.modal .modal-content .model-text p span{
    color: #1A1F2C;
font-size: 1rem;
font-weight:700;
line-height: 2rem;
}
.modal .modal-body .md-form .form-control::placeholder{
color: #8C8C8C;
font-weight: 600;

}

.modal .modal-body .md-form .form-control{
	padding: 1rem .9rem;
}

.modal .modal-body .form-check-label{
font-weight: .5rem;
color: #525151;
font-weight: 600;

}

.modal-body .sign-button p{
    color: #8C8C8C;
    font-weight: 600;
    font-size: .7rem;
}

.modal-body .sign-button p u {
    color: #8C8C8C;
}

.modal-header .close-btn span{font-size: 5rem;}

/**********form-detail Css Start*/
.form-detail{
	border:.1rem solid #1A1F2C;
}
 
 .form-detail p{
color:#1A1F2C;
font-size:.8rem;
}
 .form-detail .form-control{
 	padding: 1rem 1rem; 

 }
 .form-detail .form-control::placeholder{
 	color:#8C8C8C;
 	font-weight: 500;
 	}
 
 .detail-btn {
    background-color: #00bdc5;
    border-radius: 0px;
    font-weight: 600;
    font-size: .8rem;
    padding: .50rem 0rem;
}

.form-text p{
	color:#8C8C8C;

	font-size: .7rem;
}

.form-text p u{
	color:#8C8C8C;
	}
/**********form-detail Css End*/

/**********Listed-box Css Start*/
.Listed-box{
	border:.1rem solid #1A1F2C;
}

.Listed-box .list-img a{
color: #0080C6;
font-weight: 700;
font-size: .9rem;
}

.Listed-box .list-img img{
width: 23%;
height: auto;
}

.Listed-box .list-img {
font-size: .8rem;

}


.show-on-off p{
	cursor: pointer;
}
/**********Listed-box Css End*/
/*********************************************************************Right-side Css End*/

/*******************************Similar-Rentals Css Start*/
.Similar-Rentals h4{
	    font-size: .8rem;
    color: #8c8c8c
}
.Similar-Rentals h5{
    font-size: 1rem;
    color: #0080c6;
}

.Similar-Rentals h3{
    color: #1A1F2C;
    font-size: 1.5rem;
}
.Similar-Rentals .card-text a{
    color: #525151;
    font-weight: 600;
    font-size: .9rem;
    border-right: 5px;
}

.Similar-Rentals .card-body:hover{
	background-color: #fff;
-webkit-box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
-moz-box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
box-shadow: 1px 14px 12px -12px rgba(163,163,168,0.37);
}


.sldier-no-fee h4 {
    background-color: #e0e572;
    font-size: .7rem;
    padding: .2rem .5rem;
    color: #1A1F2C;
    font-weight: 700;
    margin-top: .5rem;
    margin-left: .3rem;
    border-radius: 100rem;
}


.table thead th {
	border-top: none;
    border-bottom: none;
        color: #525151;
    font-weight: 600;
    font-size: 1rem;
}

/*******************************Similar-Rentals Css End*/


/*******************************Nearby-Transportation Css Start*/

.main-heading h6 {
    color: #8C8C8C;
    font-size: .8rem;
    font-weight: 700;
}

.Transportantion-line-a{
background-color: #005A8F;
}
.Transportantion{
    border-radius: 50%;
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: 0 2px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 20px;
 }
 .Transportation-item{
 	padding: .2rem 0rem;
 }
	
.Transportantion-line-b{
background-color: #8F5A00;
}
.Text b{
	color: #1A1F2C;
}

.Transportation-item a{
 color: #0080C6;
}
.Transportation-item b{
 color: #1A1F2C;
}

.school p{
	    color: #8C8C8C;
    font-weight: 600;
    font-size: .8rem;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/*******************************Nearby-Transportation Css End*/

/*********************Latest-Discussions Css Start*/
.Latest-Discussions .Latest-text h6{
	   color: #0080C6;
	    font-size: .7rem;
	    font-weight: 900;
}
.Latest-Discussions .Latest-text h6:hover{
	        color: #032765;
	        border-bottom: 1px solid #032765;
	      }
/*************************************Latest-Discussions Css End*/


/*********************Latest-Discussions Css Start*/
.Listed-By .Listed-text a{
	   color: #0080C6;
	    font-size: 1rem;
	    font-weight: 600;
}

.Listed-By .Listed-text span{
	       color: #525151;
	    font-size: 1rem;
	    font-weight: 600;
}
.Listed-By .Listed-text h6{
	   color: #0080C6;
	    font-size: .7rem;
	    font-weight: 900;
	    line-height: 2rem;
}
/*************************************Latest-Discussions Css End*/
.StreetEasy-footer2-section {
    background-color: #272D39;
}

.StreetEasy-footer2-section ul li a {
    color: #fff;
    font-size: .7rem;
    text-decoration: none;
}

.footer-Copyright h6 {
    font-size: .6rem;
}

.footer-s-2 {
    border-top: .01rem solid #808080;
    width: 100%;}

/******************************************************************StreetEasy_Building_Page css End*/

.dropdown:hover>.dropdown-menu {
  display: block;
}
/***************************************StreetEasy_Author_detail_Page css Start*/

/*************************Author_Building_Section css Start*/


/**********Author_Building_Section css Start*/

/**********author-text-d css Start*/
.Author_Building_Section .Author-info img{
width: 8rem;
height:8rem;
}

.Author_Building_Section .author-text h2 {
    color: #525151;
    font-size: 1.7rem;
    font-weight: 400;
}

.Author_Building_Section .author-text h4{
background-color: #0080C6;
font-size: .8rem;

height: 1.25rem;
font-weight:600;
margin:.5rem 0 0 .5rem;
}


.Author_Building_Section .author-d{
	line-height: .3rem;
	padding-top: .5rem;
}

.Author_Building_Section .author-i li{
color: #8C8C8C;
    font-size: .7rem;
    font-weight: 800;
    line-height: .5rem;
   
    }


 .Author_Building_Section .social   i{
background-color:#0080C6;
padding:.5rem .5rem;
font-size: .8rem;
}
/************************author-text-d css End*/

/**********************************author-detail-tab css Start*/
.author-detail-tab .nav-link{
    background-color:#fff!important;
    color: #8C8C8C;
   }
 .author-detail-tab .nav-link:hover{
    background-color: rgba(212,236,250,0.4) !important;
}
   
.hide-content {
  display: none;
}

.read-more-show{
 color: #0080C6 !important;
}

.nav-tabs .nav-tab {
    color: #8C8C8C !important;
    font-size: .8rem;
    font-weight:500;
}
.nav-tabs .nav-tab:hover {
 color: #0080C6 !important;
    font-size: .8rem;
    font-weight:500;
}


.tab-content>.active{
	font-size: .9rem;
	font-weight: 500;
	color: #525151;
	padding-top: 1rem;
	padding-bottom: 3rem;

}

.tab-pane .card-body h5{
    font-size: 1rem;
       color: #0080C6;
   }

.tab-pane .card-body p{
    font-size: 1rem;
    }

.tab-pane .card-body p span{
    font-size: .8rem;
    color: #62646A;
    }

.tab-pane .card-body li a{
	color: #0080C6;
}

.tab-pane .tab-content h4{
	color: #1A1F2C;
	font-size:1rem;
	font-weight: 700;
	border-top: .2rem solid #1A1F2C;
	padding-top: .2rem;
}

.tab-pane .tab-item{
	border-bottom: 1px solid #1A1F2C; 
}

.pagination .page-link{
border:none;
color: #0080C6;
cursor: pointer;
font-size: 1rem;
}

.pagination li{
color: #0080C6;
}
.pagination i{
color: #0080C6;
cursor: pointer;s
}
.pagination li:hover{
 color: #A1A1A1;
}

.pagination .page-link:hover{
  background-color: inherit;
}

.activity-text{
	color: #0080C6 !important;
}

.tab-pane .tab-item{
	border-bottom: 1px solid #1A1F2C; 
}


/**********************************author-detail-tab css End*/






/****************Right-side css Start*/



.author-f p {
    color: #1A1F2C;
    font-size: .8rem;
   font-weight: 700;
}
/****************Right-side css End*/


/***************************************StreetEasy_Author_detail_Page css End*/






/* 2 december index page */

.left-slider-button { cursor: pointer; display: none; }
.img-slide{
	position:absolute;
	height:100%;
}
a {
    color: #0080c6;
    text-decoration: none;
    background-color: transparent;
}
.card-head {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
/* 2 december */











