@media (min-width: 576px) {
	
    .carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } 
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/* carsousel icon */

.carousel-control-prev-icon{
	display: block;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    overflow: hidden;
    text-indent: -99999em;
    transition: all 300ms;
 
	position:absolute;
}
.carousel-control-next-icon{
	background-color:#000;
}

.carousel-control-prev {
    left: -6rem;	
	padding-left: 34px;
}
.carousel-control-next{
    right: -4rem;
	padding-left: 21px;	
}


.right-fa{
	color:#000;
}
.left-fa{
	color:#000;
}